.navbar{
    background-color: lightcoral;
}
.mybtn{
    background-color: white;
}


.mybtn:hover{
    background-color: lightpink;
}

.mydiv{
    display: flex;
}
.footer{
    background-color: lightcoral;
}

.footer ul{
    justify-content: center;
    align-items: center;
}